<div class="registerpage">
  <div class="bar"></div>

  <div class="registerbox">

    <div class="regboxhead">
      <h3>Register</h3>
      <%= devise_error_messages! %>
    </div>

    <div class="registerboxleft">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        
        <div class="regfieldtop">
          <%= f.text_field :name, autofocus: "off", class: 'regtextboxtop', placeholder: 'Full Name' %>
        </div>

        <div class="regfield">
          <%= f.email_field :email, autocomplete: "off", class: 'regtextbox', placeholder: 'Email' %>
        </div>

        <div class="regfield">
          <%= f.text_field :username, autocomplete: "off", class: 'regtextbox', placeholder: 'Username' %>
        </div>
        <div class="regfield">
          <%= f.text_field :phone, autocomplete: "off", class: 'regtextbox', placeholder: 'Phone Number' %>
        </div>
        <div class="regfield">
          <%= f.password_field :password, autocomplete: "off", class: 'regtextbox', placeholder: 'Password' %>
        </div>
        <div class="regfield">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'regtextbox', placeholder: 'Confirm Password' %>
        </div>
    </div>
      
    <div class="registerboxright">
      <div class="boxrightcontent">
        <div class="regboxrighthead">
          <h1>FIT</h1>
          <p>TRAINER</p>
        </div>
        <div class="regboxrightcontent">
          <p>Join the leading trainers in the industry.  Build your business, build your clients and receive analytics on your project.</p>
          <br>
          <p>Sign up today for free!</p>
        </div>
      </div>  
      <div class="regbtnbox">
        <%= f.submit "Sign Up", class: "signupbtn" %>
      </div> 
      <div class="regboxrightfooter">
        <p>
          Already have an account?  
          <%= link_to "Sign in", new_user_session_path %>
        </p>
      </div>
    </div>
  </div>
  <% end %>

  <div class="footer">
    <div class="footercontent">
      <h3>FIT</h3>
      <p>&copy FIT app. All rights reserved</p>
    </div>
  </div>
</div>

