= render "layouts/sidebar"
#right
  = render "layouts/hamburger"
  .imageSection
    = image_tag @event.cover.url
    .gradient
      %span
        = @event.title
  %h3
    description:
    = @event.description
    %br
    price:
    = number_to_currency(@event.price)
    %br
    time:
    - if @event.time != nil
      = @event.time.strftime("%b %d, %Y, %l:%M%P")
    %br
    = link_to "Edit event", edit_event_path(@event.id)
    %br
    = link_to "Delete", event_path(@event), method: :delete, data: { confirm: "Are you sure you want to delete this event?"}
    %br
    = link_to "Purchase this class!!!", payment_path(@event.id)
