#left
  = link_to root_url do
    #box
      .top FIT
      .bottom trainer
  = link_to profile_path do
    #profile
      %image{src: findPhoto, class: "selfie"}
    #name
      = current_user.username
  %ul#navy
    = link_to new_event_path do
      %li  Create Event
    = link_to events_path do
      %li  My Events
    = link_to profile_path do
      %li  Profile
    
  #foot
    .topper FIT
    .info @FIT app. All rights reversed